<?xml version="1.0"?>
<config>
   <sections>
		<payment>
			<groups>
				<Coinco translate="label" module="paygate">
					<label>Coinco</label>
					<sort_order>700</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Custom name of this payment method</comment>
						</title>
						
						<api_key translate="label">
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
									Refer to https://coin.co/developers/authentication for
									instructions on how to generate an API key for your merchant
									account.
							</comment>
						</api_key>
						
						<callback_secret translate="label">
							<label>Callback Secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								Token to authenticate CoinCo's payment notifications. Any
								long, random string will work. Normally this field does not
								need to be changed.
							</comment>

						</callback_secret>

						<testing translate="label">
							<label>Testing</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Use testnet coins? (for testing purposes only)</comment>
						</testing>

					</fields>
				</Coinco>
			</groups>
		</payment>
	</sections>
</config>
